.main {
	background: #EAEDF1;
	position: relative;
	display: block;
	width: 1374px;
	height: 1130px;
	left: 300px;
	overflow-x: hidden;
}

.main .top {
	height: 84px;
	background: #F9FAFC;
	position: realtive;
}

.main .main-title {
	width: 1374px;
	height: 60px;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: #3E5660;
	padding-left: 44px;
	padding-top: 14px;
}

.main .main_contents {
    border-top: solid 1px;
    padding: 20px;
    width: 1080px;
}

.main .main_contents .member_category{
  background: #F9FAFC;
  padding-bottom: 15px;
}

.main .main_contents .member_category .title{
  width: 1020px;
  height: 62px;
  background: #F9FAFC;
  border-bottom: 1px solid #B9D2DD;
  position: relative;
}

.main .main_contents .member_category .title .text{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 62px;
  color: #3E5660;
  margin-left: 30px;
  vertical-align: middle;
}

.main .main_contents .member_category .member_list{
  margin: 20px;
  overflow-y: auto;
  height: 870px;
  width: 1020px;
}

.main .main_contents .member_category .member_list::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #F5F5F5;
}

.main .main_contents .member_category .member_list::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}

.main .main_contents .member_category .member_list::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #78C7FE;
}

.member_entity {
  left: 22px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  table-layout: fixed;
  word-break: break-all;
}

.member_entity td {
  /* border-bottom: 2px solid #b9d2dd; */
  height: 62px;
  border-bottom: 1px solid #b9d2dd;
  padding: 10px;
}

.member_entity thead {
  background: #eaedf1;
  height: 62px;
  border: 1px solid #b9d2dd;
  box-sizing: border-box;
}
.member_entity th {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #78868c;
}

.member_entity tbody {
  background: #f9fafc;
  border: 1px solid #b9d2dd;
  box-sizing: border-box;
}